
<main >
<h1>Edit  <%= @team.name %></h1>
<div id="flex_wrapper">

    <article>
  <%= image_tag @team.image_url %>
    </article
    <article>

  <%= render "form" %>
    </article>
    <article></article>
  </div>
</main>
