<main><h1>Teams</h1>
<div id="flex_wrapper">
<% @teams.each do |team| %>
  <article>
  <h1><%= link_to team.name, team_path(team.id)%></h1>

  <%=  link_to image_tag(team.image_url), team_path(team.id) %>

  </article>
<% end %>

</div>
<footer>
      <p><%= link_to "New Team", new_team_path %></p>
</footer>
</main>
